credentials.ini
env/
chroma_db/
sound.wav
sound2.wav
tempCodeRunnerFile.py
flow.txt
.env
output.wav
error.json
logs.txt
*.pyc
package.json
package-lock.json
logs.txt
b64audio.txt
server_logs.txt
saved_logs.txt
saved_server_logs.txt
back-end/__pycache__/
response_example.txt
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
b64audio.txt
logs.txt
server_logs.txt